.form{
	width:400px;
	padding: 10px;
	border:solid thin #ddd;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	border-radius: 30px;
}

.form input{
	padding: 10px;
	margin-bottom: 10px;
	width: 300px;
	margin-top: 5px;
	border:none;
	border-bottom: 1px solid #ddd;
}

.form input:focus{
	outline: none;
	border-bottom: 1px solid #666;
}

.btn{
	background-color: #333;
	color: #DCDCDC;
	font-weight: bold;
	border-radius: 4px;

}

.btn2{
	padding: 15px 20px;
	background-color: #333;
	color: #DCDCDC;
	font-weight: bold;
	border-radius: 4px;

}


.form2{
	width: 100%;
    margin: 10px ;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
